<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>

    <link href="../static/css/spring-core.css"
          th:href="@{css/spring-core.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <h1>Product list:</h1>
    <div th:if="${not #lists.isEmpty(products)}">
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Price</th>
                <th>Operation</th>
            </tr>
            <tr th:each="product : ${products}">
                <td th:text="${product.id}">1</td>
                <td th:text="${product.description}">Lorem ipsum dolor sit amet.</td>
                <td th:text="${product.price}">123.12</td>
                <td>
                    <a th:href="${'/products/' + product.id }">Show</a>
                    <a th:href="${'/products/edit/' + product.id }">Edit</a>
                    <a th:href="${'/products/delete/' + product.id }">Delete</a>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <a th:href="${'/'}">Back main page</a>
    </div>
</div>
<div th:if="${#lists.isEmpty(products)}">
    <h3>Empty list</h3></div>


</body>
</html>